.works {
    padding: 0 0 4rem 0;
  &__section {
    padding: 0 0 1rem 0;
  }
  &__text {
    display: inline-block;
    padding: 2rem 10rem 2rem 2rem;
    font-size: 1.4rem;
    line-height: 200%;
    background: #eeeee7;
  }
  &__link {
    color: #a89167;
  }
}