.ProjectsIndex_projects {
  position: relative;
  background-color: #f1f3f6;
  padding: 40px 20px;
}
.GridProjects_grid {
  display: grid;
  grid-gap: 20px 10px;
  gap: 20px 10px;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
}
#home .GridProjects_grid {
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  grid-gap: 20px;
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 20px;
  box-shadow: -1.5px -1.5px 2px rgb(255 255 255 / 95%),
    1px 1px 3px rgb(28 64 128 / 15%);
  transition: box-shadow 0.25s ease-out;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 20px;
}
.thumbnail {
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  z-index: 1;
}
.information {
  position: relative;
  padding: 15px;
}
