<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="">2カラムレイアウト</div>
    <div class="TwoColumn_container">
      <h1 class="TwoColumn_container__title">タイトル</h1>
      <main class="TwoColumn_container__main">メイン</main>
      <nav class="TwoColumn_container__nav">ナビ</nav>
      <footer class="TwoColumn_container__footer">フッター</footer>
    </div>
    <div class="">3カラムレイアウト</div>
    <div class="ThreeColumn_container">
      <h1 class="ThreeColumn_container__title">タイトル</h1>
      <main class="ThreeColumn_container__main">メイン</main>
      <nav class="ThreeColumn_container__nav">ナビ</nav>
      <aside class="ThreeColumn_container__side">サイド</aside>
      <footer class="ThreeColumn_container__footer">フッター</footer>
      <aside class="ThreeColumn_container__ad">広告</aside>
    </div>
  </body>
</html>
