* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.pager .pagination {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  border: 1px solid rgba(233, 236, 239, 1);
  border-radius: 4px;
}

.pager .pagination li {
  position: relative;
  padding: 0;
  width: 32px;
  text-align: center;
}
.pager .pagination li:not(:last-of-type) {
  border-right: 1px solid rgba(233, 236, 239, 1);
}

.pager .pagination li a {
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination li a:hover {
  color: rgba(0, 91, 172, 1);
  background-color: rgba(0, 91, 172, 0.02);
}
.pager .pagination li a.active {
  color: rgba(83, 135, 222, 1);
}

@media only screen and (max-width: 767px) {
  .pager .pagination li {
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a {
    width: 100%;
    text-align: center;
  }

  .pager .pagination li.pre span::after {
    content: "　前の10件へ";
  }

  .pager .pagination li.next span::before {
    content: "次の10件へ　";
  }
}
