.nav {
  display: block;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40rem;
    height: 40rem;
  }
  &__content::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12rem;
    width: 24rem;
    height: 0.2rem;
    background: #000;
  }
  &__menu {
    padding: 5rem 0;
    list-style: none;
  }
  &__menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 5rem;
    color: #000;
  }
  &__copyright {
    font-size: 1rem;
  }
  @media (max-width: 800px) {
    &__content {
      width: 30rem;
      height: 30rem;
    }
    &__content::before {
      margin-left: -10rem;
      width: 20rem;
    }
    &__menu li a {
      font-size: 3rem;
    }
  }
}
.nav__activeNav {
  position: fixed;
  top: 0;
  left: 0;
}