.backImage {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation-duration: 3s;
  animation-name: back_image;
  background-size: cover;
  &__span {
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    background: #000;
  }
}

// reloadした時に徐々にimageが表示される
@keyframes back_image {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 1;}
}

@media (max-width: 800px) {
  .backImage {
    background: #eeeee7;
  }
}