<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div>方法1：ラインの番号で指定する</div>
    <div class="container">
      <!-- コンテナ -->
      <div id="itemA">A</div>
      <!-- アイテム -->
      <div id="itemB">B</div>
      <!-- アイテム -->
      <div id="itemC">C</div>
      <!-- アイテム -->
    </div>
    <div>方法2：エリアに名前を付けて指定する</div>
    <div class="container1">
      <!-- コンテナ -->
      <div id="itemD">D</div>
      <!-- アイテム -->
      <div id="itemE">E</div>
      <!-- アイテム -->
      <div id="itemF">F</div>
      <!-- アイテム -->
    </div>
  </body>
</html>
