body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 1.25rem;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.125rem;
  height: 2.125rem;
  margin-right: -0.063rem;
  margin-top: -0.063rem;
  padding: 0;
  text-align: center;
  width: 2.125rem;
  &:focus {
    outline: none;
  }
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  &-info {
    margin-left: 1.25rem;
  }
  &-stand {
    margin-right: 1.25rem;
  }
}